.login {
  width: 100%;
  min-height: 50%;
}
.formBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.formBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginLogo img {
  width: 20%;
}

.loginLogoLabel {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sepantaText {
  color: #78b8ff !important;
  font-size: larger;
}
