@font-face {
  font-family: Vazir;
  src: url('Assets/font/Farsi-Digits-Without-Latin/Vazir-FD-WOL.eot');
  src: url('Assets/font/Farsi-Digits-Without-Latin/Vazir-FD-WOL.eot?#iefix') format('embedded-opentype'),
       url('Assets/font/Farsi-Digits-Without-Latin/Vazir-FD-WOL.woff2') format('woff2'),
       url('Assets/font/Farsi-Digits-Without-Latin/Vazir-FD-WOL.woff') format('woff'),
       url('Assets/font/Farsi-Digits-Without-Latin/Vazir-FD-WOL.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url('Assets/font/Farsi-Digits-Without-Latin/Vazir-Bold-FD-WOL.eot');
  src: url('Assets/font/Farsi-Digits-Without-Latin/Vazir-Bold-FD-WOL.eot?#iefix') format('embedded-opentype'),
       url('Assets/font/Farsi-Digits-Without-Latin/Vazir-Bold-FD-WOL.woff2') format('woff2'),
       url('Assets/font/Farsi-Digits-Without-Latin/Vazir-Bold-FD-WOL.woff') format('woff'),
       url('Assets/font/Farsi-Digits-Without-Latin/Vazir-Bold-FD-WOL.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url('Assets/font/Farsi-Digits-Without-Latin/Vazir-Black-FD-WOL.eot');
  src: url('Assets/font/Farsi-Digits-Without-Latin/Vazir-Black-FD-WOL.eot?#iefix') format('embedded-opentype'),
       url('Assets/font/Farsi-Digits-Without-Latin/Vazir-Black-FD-WOL.woff2') format('woff2'),
       url('Assets/font/Farsi-Digits-Without-Latin/Vazir-Black-FD-WOL.woff') format('woff'),
       url('Assets/font/Farsi-Digits-Without-Latin/Vazir-Black-FD-WOL.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url('Assets/font/Farsi-Digits-Without-Latin/Vazir-Medium-FD-WOL.eot');
  src: url('Assets/font/Farsi-Digits-Without-Latin/Vazir-Medium-FD-WOL.eot?#iefix') format('embedded-opentype'),
       url('Assets/font/Farsi-Digits-Without-Latin/Vazir-Medium-FD-WOL.woff2') format('woff2'),
       url('Assets/font/Farsi-Digits-Without-Latin/Vazir-Medium-FD-WOL.woff') format('woff'),
       url('Assets/font/Farsi-Digits-Without-Latin/Vazir-Medium-FD-WOL.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url('Assets/font/Farsi-Digits-Without-Latin/Vazir-Light-FD-WOL.eot');
  src: url('Assets/font/Farsi-Digits-Without-Latin/Vazir-Light-FD-WOL.eot?#iefix') format('embedded-opentype'),
       url('Assets/font/Farsi-Digits-Without-Latin/Vazir-Light-FD-WOL.woff2') format('woff2'),
       url('Assets/font/Farsi-Digits-Without-Latin/Vazir-Light-FD-WOL.woff') format('woff'),
       url('Assets/font/Farsi-Digits-Without-Latin/Vazir-Light-FD-WOL.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url('Assets/font/Farsi-Digits-Without-Latin/Vazir-Thin-FD-WOL.eot');
  src: url('Assets/font/Farsi-Digits-Without-Latin/Vazir-Thin-FD-WOL.eot?#iefix') format('embedded-opentype'),
       url('Assets/font/Farsi-Digits-Without-Latin/Vazir-Thin-FD-WOL.woff2') format('woff2'),
       url('Assets/font/Farsi-Digits-Without-Latin/Vazir-Thin-FD-WOL.woff') format('woff'),
       url('Assets/font/Farsi-Digits-Without-Latin/Vazir-Thin-FD-WOL.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Vazir", Arial, sans-serif;
  font-weight: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root {
  /* height: 100%;
  min-height: 100%; */
  font-family: "Vazir", Arial, sans-serif;
  font-weight: normal;
}
.css-1ekb41w {
  max-width: 100% !important;
}
.css-19r6kue-MuiContainer-root {
  max-width: 100% !important;
}
